<!-- views/todos.ejs -->
<ul class="list-none pl-4">
    <% for(var i = 0; i < todos.length; i++){ %>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input type="checkbox" <%= todos[i].completed ? "checked": "" %> onclick="updateTodo(<%= todos[i].id %>)" id="todo-checkbox-<%= todos[i].id %>" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300">
                <label for="todo-checkbox-<%= todos[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= todos[i].title %></label>
                <a class="hidden trash-icon px-2" href="#!" onclick="deleteTodo(<%= todos[i].id %>)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </a>
            </div>
            
        </li>
    <% } %>
</ul>
